@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.container-background {
    background-color: cadetblue;
    box-sizing: border-box;
}

.logo-eject-flix {
    display: flex;
    justify-content: center;
}

.container-formularios {
    width: 414px;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(88, 88, 88, 0.75);
    border-radius: 10px;
    padding-top: 30px;
    font-family: "Hammersmith One", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.titulo {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 25px;
}

.subtitulo {
    font-size: 18px;
    line-height: 18px;
    margin-left: 30px;
}

.formulario input, .formulario button {
    display: block;
    width: 350px;
    height: 50px;
    margin: 5px 30px 30px;
    background: rgba(192, 192, 192, 0.8);
    border: 1px solid #BAB7B7;
    border-radius: 5px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.formulario input::placeholder {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #DBDBDB;
    padding-left: 20px;
}

.formulario button[type="submit"] {
    border: none;
    background-color: rgba(227, 199, 45, 0.8);
}

.formulario button[type="button"] {
    background: none;
    border: none;
    color: white; 
    transition: 0.5s;
}

.formulario button[type="button"]:hover{
    background-color: rgba(227, 199, 45, 0.8);
}

#msgErro {
    width: 350px;
    margin-left: 30px;
    background-color: crimson;
    border-radius: 5px;
}

#formulario-cadastro {
    display: none;
}

.rodade {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
}

.rodape-informacoes {
    display: flex;
    gap: 10px;
}

.icon-rede-social {
    color: #000000;
}

.icon-rede-social:hover {
    color: #FFFFFF;
}

@media (max-width: 550px) {
    .container-formularios {
        width: 330px;
    }

    .formulario input, .formulario button {
        width: 280px;
        padding: 0px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodade {
        flex-direction: column;
        align-items: center;
    }

    .barra-rodape {
        display: none;
    }

    .rodape-informacoes {
        margin-top: 15px;
    }
}